// base colors
$primary-color: #367af6;
$secondary-color: #4b91f7;
$color-3: #367af640;
$color-4: #3a6cd980;
$color-5: #ffffff33;
$black: #000000;

// alerts and errors
$error-font-color: red;

//border
$border-color: $primary-color;

/* typograhy Variables & media queries */
$small-screen: 768px;
$medium-screen: 991px;
